div.browser {
	height:100%;
	position:relative;
}

div.browser div.topbar > button {
	float:left;
	width:32px;
	height:32px;
	margin-right:10px;
}

div.browser button.history {
	border-radius:16px;
	border:1px solid #cccccc;
}

div.browser button.history:disabled {
	color:#c0c0c0;
	border-color:#f0f0f0;
	background-color:#f8f8f8;
}

div.browser div.input-group * {
	height:32px;
}

div.browser div.website {
	border:1px solid #808080;
	position:absolute;
	top:45px;
	right:0;
	bottom:0;
	left:0;
}
