body {
	user-select:none;
}

div.ui-draggable-dragging div.plus {
	width:15px;
	height:15px;
	text-align:center;
	line-height:14px;
	border:1px solid #000000;
	background-color:#ffffff;
	margin-bottom:-15px;
	position:absolute;
	left:80px;
	top:50px;
}

div.orb_dialog img.about {
	float:right;
	width:75px;
	height:75px;
}

/* Orb context menu
 */
div.context_menu {
	background-color:#ffffff;
	border:1px solid #808080;
	box-shadow:5px 5px 10px #202020;
	padding:4px 0;
	min-width:200px;
}

div.context_menu div.option {
	cursor:pointer;
	padding:2px 8px;
}

div.context_menu div.option:hover {
	color:#ffffff;
	background-color:#2980b9;
}

div.context_menu div.option span.fa {
	color:#2980b9;
	width:20px;
}

div.context_menu div.option:hover span.fa {
	color:#ffffff;
}

div.context_menu div hr {
	margin:0;
	border-bottom:1px solid #a0a0a0;
}
