div.content {
	max-width:600px;
}

h1 {
	margin-top:0;
	font-size:26px;
}

ul.directory {
	list-style:none;
}

ul.directory li {
	padding-left:20px;
	background-repeat:no-repeat;
	background-size:14px;
	background-position:0 3px;
	line-height:150%;
}

ul.directory li.dir {
	background-image:url(/images/directory.png);
}

ul.directory li.file {
	background-image:url(/images/file.png);
}

ul.directory li.up {
	background-image:url(/apps/explorer/back.png);
}

div.generated {
	color:#605090;
	margin:0 auto;
	max-width:600px;
	text-align:right;
	padding:5px 15px 0 0;
}

div.generated a {
	color:#8070b0;
}
