div.content {
	max-width:710px;
}

h1 {
	margin-top:0;
	font-size:26px;
}

div.content form.dropzone {
	margin-top:30px;
	border-radius:5px;
}

div.generated {
	color:#605090;
	margin:0 auto;
	max-width:710px;
	text-align:right;
	padding:5px 15px 0 0;
}

div.generated a {
	color:#8070b0;
}
